.hidden{
    display: none;
}

th{
    width: 130px;
    color: #8C7968;
}


.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{
    border: 1px solid #4e5fce;
}

html{
    background-color: #EEEEEE;
}

body{
    background-color: #EEEEEE;
}

.table-bordered{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    position: relative;
    display: block;
}

.header_image{
    height: 80%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.header_nav{
    width: 100%;
}

.content{
    display: block;
    width: 100%;
}

ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
    background-color: #8C7968;

}
ul li{
    display: list-item;
    padding: 5px 10px;
    margin: 0 3px;
}

.nav-pills > li > a{
    color: #FFFFFF;
}

.nav-pills > li > a:hover{
    color: #ec750d;
}

.btn-primary{
    background-color: #8C7968;
    border: #2d2d2a;
    color: #FFFFFF;
    border-radius: 0px;
    margin-right: 2px;
    width: 100%;
}

.btn-primary:hover{
    background-color: white;
    border: white;
    color: #ec750d;
}

table{
    text-align: center;
}

td{
    padding-left: 5px;
    padding-right: 5px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4e5fce;
    color: #FFFFFF;
    text-align: center;
}

